body {
  
  font-family: system;
  background: #f06d06;
 
  color: white;
  text-align: center;
}
h1 {
  color:red;
  
}
ul {
  list-style:number;
  list-style-position:inside;
  
  
   }
hr {
  border: 2px solid green;
}
img{
  width: 600px;
  height: 300px;
  
  
}